* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(15, 15, 16);
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_centered {
  align-items: center;
  justify-content: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.margin_10 {
  margin-bottom: 10em;
}

.section_title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 4vw;
  color: #fff;
  text-align: center;
}
